<img src="{{ site.url }}/assets/images/ROAR-logo.png" alt="ROAR Logo">

{% if {{page.category}} == "Trails" %}
  <ul>
    <li>{% unless {{page.title}} == "Rules & Regulations"%}<a href="{{site.url}}/rules-regulations">{% endunless %}Rules & Regulations{% unless {{page.title}} == "Rules & Regulations"%}</a>{% endunless %}</li>
    <li>{% unless {{page.title}} == "Trail Rating" %}<a href="{{site.url}}/trail-rating">{% endunless %}Trail Rating{% unless {{page.title}} == "Trail Tating" %}</a>{% endunless %}</li>
    <li>{% unless {{page.title}} == "Trails" %}<a href="{{site.url}}/trails">{% endunless %}Trails{% unless {{page.title}} == "Trails" %}</a>{% endunless %}</li>
  </ul>
{% elsif {{page.category}} == "Other" %}
  {% include nap.html %}
{% else %}
  <ul>
    <li>{% unless {{page.title}} == "Upcoming Events" %}<a href="{{site.url}}/events">{% endunless %}Upcoming Events{% unless {{page.title}} == "Upcoming Events" %}</a>{% endunless %}</li>
    <li>{% unless {{page.title}} == "Vendor Registration" %}<a href="{{site.url}}/vendor-registration">{% endunless %}Vendor Registration{% unless {{page.title}} == "Vendor Registration" %}</a>{% endunless %}</li>
    <li>{% unless {{page.title}} == "Rider Registration" %}<a href="{{site.url}}/rider-registration">{% endunless %}Rider Registration{% unless {{page.title}} == "Rider Registration" %}</a>{% endunless %}</li>
  </ul>
{% endif %}

<hr />

{% unless {{page.category}} == "Other" %}
  {% include sponsors.html %}
{% endunless %}

<!-- <li><a href="{{site.url}}https://drive.google.com/open?id==1RQvhrEWgagx_1-2hbGYv9KLfpGYihLs_irBb_dbnGz4" target=="_blank" title=="Download Vendor Registration Form">Vendor Registration Form</a></li> -->
