
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">ROAR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Trail Information
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{site.baseurl}}rules-regulations/">Rules & Regulations</a>
                <a class="dropdown-item" href="{{site.baseurl}}trail-rating">Trail Rating</a>
                <a class="dropdown-item" href="{{site.baseurl}}trails">Trails</a>
              </div>
            </li>
            <li><a class="nav-link" href="{{site.baseurl}}events">Events</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Registration</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{site.baseurl}}rider-registration">Rider Registration</a>
                <a class="dropdown-item" href="{{site.baseurl}}vendor-registration">Vendor Registration</a>
              </div>
            </li>
            <li><a class="nav-link" href="{{site.baseurl}}gallery">Gallery</a></li>
            <li><a class="nav-link" href="{{site.baseurl}}lodging">Lodging</a></li>
            <li><a class="nav-link" href="{{site.baseurl}}contact-us">Contact Us</a></li>
          </ul>

          <address>
            <strong>Rangely Chambers of Commerce</strong><br/>
            <abbr title="phone">P: (970) 675-5290</abbr>
          </address>

        </div>
      </nav>
