<h2 class="text-center">Sponsors</h2>

<!-- row 1 - Utha Gas -->
<div class="row p-2">
  <div class="col-sm-12">
    <img src="/assets/images/Sponsors/UtahGas.png" alt="Utah Gas" class= "img-fluid img-thumbnail" >
  </div>
</div>
<!-- row 2 - Rocky Mountain ATV -->

<!-- row 3 - Giovannies -->
<div class="row p-2">
  <div class="col-sm-12">
    <img src="/assets/images/Sponsors/Giovannis.png" alt="Giovannies - Logo" class= "img-fluid img-thumbnail" >
  </div>
</div>
<!-- row 4 - Warn -->
<div class="row p-2">
  <div class="col-sm-12">
   <img src="/assets/images/Sponsors/Warn.png" alt="Warn" class= "img-fluid img-thumbnail" >
 </div>
</div>
<!-- row 5 - Maverick Trail -->
<div class="row p-2">
  <div class="col-sm-12">
    <img src="/assets/images/Sponsors/Ridgeline-Motorsports/maverick-trail.jpg" alt="Maverick Trail - Logo" class= "img-fluid img-thumbnail" >
  </div>
</div>
<!-- row 6 - Ridgeline -->
<div class="row p-2">
  <div class="col-sm-12">
    <img src="/assets/images/Sponsors/Ridgeline-Motorsports/Logo.gif" alt="Ridgeline - Logo" class= "img-fluid img-thumbnail" >
  </div>
</div>
<!-- row 7 - Network Unlimited -->
<div class="row p-2">
  <div class="col-sm-12">
    <img src="/assets/images/Sponsors/NetworkUnlimited.png" alt="Network Unlimited" class= "img-fluid img-thumbnail" >
  </div>
</div>
<!-- Row 8 - Napa -->
<div class="row p-2">
  <div class="col-sm-12">
    <img src="/assets/images/Sponsors/Napa.jpg" alt="Napa" class= "img-fluid img-thumbnail" >
  </div>
</div>
<!-- Row 9 - Moom Lake -->

<!-- Row 10 - Dunco, Inc -->
<!-- Row 11 - Rangely Chambers -->
<!-- Row 12 - New Eden -->
<!-- Row 13 - Others -->
<div class="row p-2">
  <div class="col-sm-12">
    <ul>
      <li>Duco inc.</li>
      <li>Main Street Cafe</li>
      <li>Perris Power Sports</li>
      <li>York Motorsports</li>
    </ul>
  </div>
</div>
